/*body*/
body {
	margin: 0;
	font-family: roboto;
}

#bloc_page {
	width: auto;
	margin: 0;
}

/*images*/
img {
	max-width: 100%;
}
/*color:primaire #9356DC, secondaire #FF79DA, tertiaire #99E2D0;
Polices
Logo et titres: Shrikhand
Texte: Roboto*/

/*header*/
header {
	position: relative;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}

header a i {
	font-size: 1.2rem;
	color: black;
	top: 0.3rem;
	left: 1.7rem;
	font-weight: bold;
	position: absolute;
}

header a img {
	width: 100%;
	height: 30px;
}

/*figure*/

.vignette {
	position: relative;
}

.vignette .photo_restau {
	margin-bottom: 2.6rem;
	object-fit: cover;
}

.vignette .h2 h2 {
	font-size: 1.8rem;
	font-family: "Shrikhand", cursive;
	font-weight: bold;
	align-items: center;
	align-content: center;
}

.vignette .h2 {
	display: flex;
	align-items: center;
	background-color: rgb(243, 241, 241);
	position: absolute;
	width: 100%;
	justify-content: space-around;
	bottom: 0.025rem;
	border-radius: 2.5rem 2.5rem 0 0;
}

.vignette .h2 .heart {
	font-size: 1.5rem;
	justify-content: space-around;
	cursor: pointer;
}

.vignette .h2 .heart fas fa-hearth checked {
	background: linear-gradient(to bottom, #9356dc, #ff79da);
}
/*.checkbox-like {
	position: absolute;
	right: 20px;
	bottom: 35px;
	height: 25px;
	font-size: 25px;
	cursor: pointer;
}

.checkbox-like.checkbox-like--position {
	position: initial;
	margin-top: 20px;
}

.checkbox-like input[type="checkbox"]:checked ~ .unchecked {
  	display: none;
}

.checkbox-like input[type="checkbox"]:checked ~ .checked {
  	display: inline-block;
  	color: rgba(255, 255, 255, 0);
}

.checkbox-like input[type="checkbox"], .checkbox-like .checked {
  	display: none;
  	animation: like 2s;
  	animation-fill-mode: forwards;
}

@keyframes like {
	0% { 
      opacity: 0;
  }

  50% { 
      background: linear-gradient(to bottom, #9356DC,#FF79DA);
      -webkit-background-clip: text;
    }
	
	100% { 
      background: linear-gradient(to bottom, #9356DC,#FF79DA);
      -webkit-background-clip: text;
  	}
  }   */

main {
	background-color: rgb(243, 241, 241);
	display: flex;
	flex-direction: column;
}

.plats,
.entrees,
.desserts {
	display: grid;
	grid-gap: 1rem;
	margin: 1rem 1rem 1rem 1rem;
}

.entrees,
.plat,
.desserts,
h3 {
	font-size: 1rem;
	font-weight: 400;
	margin-top: rem;
	margin-left: rem;
}

.entrees .titre_underline {
	border-bottom: 3px solid#99e2d0;
	padding-bottom: 5px;
}

.plats .titre_underline {
	border-bottom: 3px solid #99e2d0;
	padding-bottom: 5px;
}

.desserts .titre_underline {
	border-bottom: 3px solid #99e2d0;
	padding-bottom: 5px;
}

.entrees,
.plats,
.desserts,
.titre {
	color: rgb(14, 13, 13);
}

.entrees .bouton_choix {
	padding: rem;
	background-color: #fff;
	border-radius: 1rem;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin: 0;
	cursor: pointer;
}

.plats .bouton_choix {
	padding: rem;
	background-color: #fff;
	border-radius: 1rem;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	cursor: pointer;
}

.desserts .bouton_choix {
	padding: rem;
	background-color: rgb(254, 254, 255);
	margin: 0.5rem 0.5rerem;
	border-radius: 1rem;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	position: relative;
	cursor: pointer;
}

.plat {
	font-size: 1rem;
	font-weight: 700;
	margin-left: 1rem;
}

.duo {
	font-size: 0rem;
	font-weight: 400;
}

.prix {
	font-size: 1rem;
	font-weight: bold;
	transform: rotate(360deg);
	/*position: absolute;*/
	align-items: flex-end;
	justify-content: flex-end;
	margin-right: 1rem;
	margin-top: 0.9rem;
}

.command {
	width: 12rem;
	height: 3rem;
	align-items: center;
	border: none;
	border-radius: 1.5rem;
	color: #ffff;
	font-size: 14px;
	font-weight: 700;
	background: linear-gradient(to top right, #9356dc, #ff79da);
	box-shadow: 0 5px 10px 0 rgb(0 0 0 / 20%);
	text-align: center;
	cursor: pointer;
	transition: opacity 0.2s;
	margin: 0.8rem 0rem 3.5rem 5rem;
	
}

/*footer*/
footer {
	margin: 0;
	background-color: rgb(54, 52, 52);
	padding-top: 0.2rem;
	padding-bottom: 1rem;
}

footer ul {
	list-style-type: none;
}

footer h1 {
	font-weight: Shrikhand;
	font-size: 18px;
	color: #ffff;
	margin-left: 1.25rem;
}

footer ul li a {
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	line-height: 1.7em;
}

footer ul li .fine {
	font-weight: 300;
}

footer ul li i {
	color: #fff;
	margin-right: 8px;
	font-size: 12px;
}
