/*body*/
body {
	margin: 0;
	font-family: roboto;
}

#bloc_page {
	width: auto;
	margin: 0;
}

/*images*/
img {
	max-width: 100%;
}
/*color:primaire #9356DC, secondaire #FF79DA, tertiaire #99E2D0;
Polices
Logo et titres: Shrikhand
Texte: Roboto*/

/*header*/
header i {
font-size: 20px;
color: black;	
}

header .header a img {
	width: 100%;
	height: 30px;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	font-size: 0px;
	padding: 0.2rem;
}

/*figure*/
section figure {
	
}



/*footer*/
footer {
	margin: 0;
	display: flex;
	background-color: rgb(58, 57, 57);
	padding-bottom: 1rem;
}

footer .footer ul {
	list-style-type: none;
}

footer .footer h1 {
	font-weight: Shrikhand;
	font-size: 20px;
	color: #ffff;
	padding-right: px;
	margin-left: 40px;
}

.footer ul li a {
	color: white;
	margin-left: 2px;
	text-decoration: none;
	font-weight: 400;
}

footer ul li .fine {
	font-weight: 100;
}

.footer ul li i {
	color: #ffff;
	margin-right: 8px;
	font-size: 12px;
}