/*formulaire de recherche*/
#recherche .search form {
	display: flex;
}

#recherche .search form label {
	padding: 0.5rem;
	background-color: #f2f2f2;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

#recherche .search form label i {
	font-size: 14px;
}

#recherche .search form input {
	padding: 0.5rem;
	border: none;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	font-size: 16px;
	font-weight: bold;
	color: black;
}

#recherche .search form button {
	padding: 0.5rem;
	border: none;
	color: white;
	background-color: #0065fc;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	cursor: pointer;
	font-weight: bold;
}

#recherche .search form button i {
	display: none;
}

/*filtres*/
#recherche .filtrer {
	display: flex;
	align-items: center;
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#recherche .filtrer > p {
	font-weight: bold;
	margin: 0 1.5rem 0 0;
}

#recherche .filtrer .filtres {
	display: flex;
	align-items: center;
}

#recherche .filtrer .filtres .filtre {
	display: flex;
	align-items: center;
	margin: 0 1rem;
	border: 2px solid #f2f2f2;
	border-radius: 1.5rem;
}

#recherche .filtrer .filtres .filtre .icone {
	padding: 0.5rem;
	background-color: #deebff;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
	width: 18px;
	height: 18px;
	font-size: 20px;
	margin: 0 5px 0 0;
	color: #0065fc;
}

#recherche .filtrer .filtres .filtre .icone {
	font-size: 15px;
}

#recherche .filtrer .filtres .filtre .text {
	margin: 0 0.5rem;
}

#recherche .filtrer .filtres .filtre:hover {
	color: #0065fc;
	background-color: #deebff;
}
